<html>
<%- include ../partials/head.ejs %>
<!--<head>-->
<!--    <title>Job Applications</title>-->
<!--    <link type="text/css" rel="stylesheet" href="/css/style.css">-->
<!--    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">-->

<!--</head>-->
<body>


<div class="container-fluid">
    <div class="row">
        <h1>Job Applications</h1>
    </div>
    <div class="table table-style">
        <div class="thead">
            <div class="tr">
                <div class="td">Company</div>
                <div class="td">Job Title</div>
                <div class="td">Status</div>
                <div class="td"></div>
                <div class="td"></div>
            </div>
        </div>
        <div class="tbody">
            <% for(var i = 0; i < jobApplications.length; i++) { %>
                <form class="tr" id="form_<%= jobApplications[i]._id %>" method="post" action="/edit">
                    <div class="td"><p id="company_<%= jobApplications[i]._id %>"><%= jobApplications[i].company %></p>
                    </div>
                    <div class="td"><p
                                id="jobTitle_<%= jobApplications[i]._id %>"><%= jobApplications[i].jobTitle %></p></div>
                    <input type="hidden" id="custId" name="_id" value="<%= jobApplications[i]._id%>">
                    <div class="td">
                        <div id="status_<%= jobApplications[i]._id %>"><%= jobApplications[i].status %></div>
                        <div id="status_dropdown_div_<%= jobApplications[i]._id %>" class="hideDropdown">
                            <select id="status_dropdown_<%= jobApplications[i]._id%>" form="form_<%= jobApplications[i]._id%>" name="status">
                                <option value="Submitted">Submitted</option>
                                <option value="Not Submitted">Not Submitted</option>
                                <option value="Replied - Declined">Replied - Declined</option>
                                <option value="Replied - Accepted">Replied - Accepted</option>
                            </select>
                        </div>
        </div>
        <div class="td">
            <button class="edit" type="button" onclick="edit(this);" id="edit_<%= jobApplications[i]._id %>">Edit
            </button>
            <button class="save hideDropdown" type="submit" id="save_<%= jobApplications[i]._id%>">Save</button>
        </div>
        <div class="td"><a class="btn btn-danger delete" href="/jobApplications/delete/<%= jobApplications[i]._id %>">Delete</a></div>
        </form>
        <% } %>
    </div>
</div>
</div>
<br/>
<a href="/jobApplications/new">New Job Application</a>

</body>
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.index.js"></script>
</html>